<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candidates</title>
  </head>
  <body>
    <section class="positions">
      <h3>Information about Candidate</h3>
    </section>
    <a href="<%= result[0].Photo_URL%>">Click to visit the site</a>
    <!-- TODO: either fullname or handle the each name including the middle name, for firstname, lastname see extra.txt -->

    <h5>Full Name is: <%= result[0].FullName%> <%= result[0].Last_Name%></h5>
  </body>
</html>
