<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WHO is WHO - Nepal Politics</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container-fluid mb-5">

      <div class="jumbotron text-center pb-2 pt-0 pl-0 pr-0">
       
        <div class="topOptions">

          <div class = "home-button">
            <a href="/" class= "btn btn-outline-primary" type="button"><i class="fas fa-home"></i></a>
          </div>
          <div class = "logout-button">
            
          </div>
        </div>

        <div class = "jumboContent">
          <h1>WHO is WHO</h1>
          <img src="/img/NepalFlag.png" height="50px" />
          <p class="lead">Nepal Politics</p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h3 class="mb-4 text-center">List of Ministers</h3>
            <ul class="list-group">
              <% result.forEach(minister => { %>
              <a
                href="/minister/<%= minister.Ministry_id%>"
                class="list-group-item list-group-item-action"
                ><%=minister.Ministry%></a
              >
              <% }) %>
            </ul>
          </div>
          <div class="col-sm-4 aboutNepal">
            <h3 class="mb-4 text-center">About Nepal</h3>

            <p>
              Nepal (नेपाल), officially the Federal Democratic Republic of
              Nepal, is a sovereign country in South Asia.
            </p>
            <figure class="figure">
              <img
                id="nepalMap"
                src="img/NepalMap.png"
                class="figure-img img-fluid rounded"
                alt="Map of Nepal"
              />
              <figcaption class="figure-caption text-center">
                Map of Nepal
              </figcaption>
            </figure>
            <!-- <img id="nepalMap" src = "img/NepalMap.png"/> -->
            <p>
              Nepal has a diverse geography, including fertile plains, subalpine
              forested hills, and eight of the world's ten tallest mountains,
              including Mount Everest, the highest point on Earth. Kathmandu is
              the capital and the largest city.
            </p>
            <p>
              Being federal nation, it has state government as well as the
              federal goverment. This project presents the different ministries,
              chairs and people involved in it.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-copyright text-center">© 2020 Copyright</div>
    </footer>
    <!-- Footer -->

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/0ff4f7eb6b.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
