<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="provinces">
      <h3>List of Provinces are:</h3>
      <ul>
        <% provinces.forEach(prov => { %>
        <a href="#"><%=prov %></a>
        <% }) %>
      </ul>
    </section>
  </body>
</html>
