body{
  background-color: rgb(250,250,250);
}

/* a {
  color: #00B7FF;
} */

.container p {
  text-align: justify;
  text-justify: inter-word;
}


#nepalMap{
  width: 100%
}

.position-list {
  display: grid;
  grid-template-columns: repeat(auto-fill,16rem);
  grid-gap: 1rem;
  justify-content: space-around;
  min-height: 50vh;
}
.card-subtitle{
  color: blue;
}

.card img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.card{
  background-color: rgb(240, 240, 240);
  padding-top: 4em;
  border: none !important;
  border-radius: 0.5em;
}
.goBackHome{
  position: absolute;
  margin-top: 0.2em !important;
  margin-left: 0.2em !important;
}

.aboutNepal{
  padding-left: 3em;
}

.footer{
  background-color: rgb(240, 240, 240);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 100%;
  text-align: center;
}